// Add your custom CSS here.
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');






.font-weight-bold{font-weight: bold;}
.font-weight-800{font-weight: 800;}
.font-weight-700{font-weight: 700;}
.font-weight-600{font-weight: 600;}
.font-weight-500{font-weight: 500;}
.font-weight-normal{font-weight: normal;}
.font-weight-300{font-weight: 300;}

.align-items-center{align-items: center;}
.align-items-end{align-items: flex-end;}
.justify-content-center{justify-content: center;}
.justify-content-end{justify-content: flex-end;}
.justify-content-between{justify-content: space-between;}

/* Direção de flexbox como linha em todos os dispositivos */
.flex-row {
  flex-direction: row !important;
}

/* Direção de flexbox como coluna em todos os dispositivos */
.flex-column {
  flex-direction: column !important;
}

/* Direção de flexbox como linha em dispositivos de tamanho médio e maiores */
@media (min-width: 768px) {
  .flex-md-row {
      flex-direction: row !important;
  }
}

/* Direção de flexbox como coluna em dispositivos menores que o tamanho médio */
@media (max-width: 767.98px) {
  .flex-md-column {
      flex-direction: column !important;
  }
}
.w-100{width: 100%;}
main ~ iframe{display: none;}
:root{
  --h1:2.488rem;
  --h2:2.074rem;
  --h3:1.728rem;
  --h4:1.44rem;
  --h5:1.2rem;
  --h6:1.2rem;
  --font-size:1rem;
  --font-size-sm: 0.833rem;
  --smallest: 0.694rem;
  --blk:#000;
  --wht:#fff;
  --primary-darkest:#000;
}
@media(max-width:990px){
  :root{
      --h1:28.38px;
      --h2:22.45px;
      --h3:19.93px;
      --h4:17.72px;
      --h5:15.75px;
      --h6:15.75px;
      --font-size:14px;
      --font-size-sm: 12.4px;
      --smallest: 11px;

      
  }
}
body{
  font-family: "Montserrat";
  font-size: 16px;
  color: var(--blk);
}
.top-bar{
  *{
    font-size: var(--smallest);
    text-transform: uppercase;
    letter-spacing: .5px;
  }
}
.top-bar__nav{padding: 0;}
b{font-weight: bold;}
header#header{
  background: #fff;
  border: 0;
  #logo{
    height: 20px;
  }
  .header__buttons .btn .badge {
    font-size: 9px;
    position: absolute;
    right: 3px;
    top: 12px;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__nav{
    text-align: left;
    text-transform: initial;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    a{
      background: transparent;
      padding: 0;
      color: var(--blk);
      font-size: var(--font-size-sm);
    }
    a:hover{background: transparent;text-shadow: 0px 0px 0px;}
  }
}

.products-carousel{
  padding: 0 2rem;
  width: 100%;
  max-width: unset;
  .glide__arrows--outer{
    .glide__arrow{padding: 0;}
  } 
}
.product-card{
  box-shadow: 0px 0px 0px;
  border: 0px;
  padding: 0;
  .product-card__name{
    text-align: center;
    font-weight: 600;
    color: var(--blk);
  }
  .product-card__prices{
    text-align: center;
    .prices__value{
      font-size: var(--font-size-sm);
      font-weight: 400;
    }
  }
  .product-card__pictures {
    border-radius: .313rem;
    height: 250px;
    aspect-ratio: .6;
    height: auto;
    
    *{height: 100%;max-height: unset;object-fit: cover;}
  }
  .buy-box{
    position: relative;
    overflow: hidden;
    margin-bottom: .5rem;
    border-radius: .313rem;
    .product-card__buy{
      position: absolute;
      bottom: 0;
      width: 100%;
      button{
        border-radius: 0 !important;
        text-transform: uppercase;
        font-size: var(--smallest);
        letter-spacing: .5px;
        padding: .75rem;
      }
    }
  }
  .product-card__favorite{font-size: var(--font-size-sm);}
}
.product-card:hover{
  box-shadow: 0px 0px 0px;
  border: 0px;
  padding: 0;
  .buy-box{
    .product-card__buy{
      bottom: 0;
    }
  }
}


footer.footer{
  border: 0;
  background: var(--primary);
  padding-bottom: 0;
  .bg-credits{background: #fff;}
  .chamada{
    color: #fff;
    font-weight: 800;
    font-size: calc(var(--h1)*1.25);
    line-height: initial;
  }
  .footer__links{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    i{display: none;}
    a{color: var(--wht);font-size: var(--font-size-sm);margin: 0;}
  }
  .footer__title{
    font-weight: bold;
    text-transform: uppercase;
    color: #9c9b9b;
    margin-bottom: 1rem;
  }
  a{transition: all .2s ease-in-out;}
  a:hover{opacity: .5;text-decoration: none;}
  .credits{
    *{
        color: #4f4f4f;
        font-size: var(--smallest);
    }
    .ecom-credits{
        background: transparent;
        padding: 0;
    }
    img{height: 16px;}
  }
  .list-unstyled{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    a{color: #fff;font-weight:600;font-size: var(--font-size-sm);}
    address{font-size: var(--smallest);color: #fff;}
  }
  .footer__social{
    display: flex;
    align-items: center;
    gap: 0px;
    a{
      background: #d9d4ca;
      height: 36px;
      width: 36px;
      display: flex;
      border-radius: 50%;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      transition: all .2s ease-in-out;
      i{
        color:var(--primary)
      }
      i:before{color:var(--primary)}
    }
    a:hover{
      opacity: .5;
    }
  }
  .footer__credits{border:0;padding: 1.5rem 0;border-color:var(--color-border)}

  .footer__credits a{display: flex;align-items: center;gap: .5rem;}
}


